* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: #242424;
}





















// .container {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 50px;

//   .card {
//     position: relative;
//     width: 320px;
//     height: 450px;
//     background-color: #dcdde1;
//     border-radius: 20px;
//     overflow: hidden;
//     cursor: pointer;

//     &::before {
//       content: "";
//       position: absolute;
//       top: 0;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background-color: #e93337;
//       clip-path: circle(150px at 80% 20%);
//       transition: 0.5s ease-in;
//     }
//     &:hover::before {
//       clip-path: circle(300px at 80% -20%);
//     }

//     &::after {
//       content: "NIKE";
//       position: absolute;
//       top: 30%;
//       left: -20%;
//       font-size: 10rem;
//       font-weight: 800;
//       font-style: italic;
//       color: rgba(255, 255, 255, 0.4);
//     }
//     &:hover .imgBox {
//       top: 0%;
//       transform: translateY(0%);
//     }
//     .imgBox {
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%);
//       z-index: 20;
//       width: 100%;
//       height: 220px;
//       transition: 0.5s;

//       .image {
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         width: 100%;
//         transform: translate(-50%, -50%) rotate(-20deg);

//         width: 270px;
//       }
//     }

//     &:hover .contentBox {
//       height: 210px;
//     }
//     &:hover .contentBox .size {
//       opacity: 1;
//       visibility: visible;
//       transition-delay: 0.5s;
//     }
//     &:hover .contentBox .color {
//       opacity: 1;
//       visibility: visible;
//       transition-delay: 0.75s;
//     }
//     &:hover .contentBox button {
//       opacity: 1;
//       transform: translateY(0);
//       transition-delay: 0.75s;
//     }

//     .contentBox {
//       position: absolute;
//       bottom: 0;
//       width: 100%;
//       height: 100px;
//       text-align: center;
//       transition: 1s;
//       z-index: 10;

//       h2 {
//         position: relative;
//         font-weight: 600;
//         letter-spacing: 1px;
//         color: #242424;
//       }

//       .size,
//       .color {
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 8px 20px;
//         transition: 0.5s;
//         opacity: 0;
//         visibility: hidden;
//         h3 {
//           color: #242424;
//           font-weight: 300;
//           font-size: 14px;
//           text-transform: uppercase;
//           letter-spacing: 2px;
//           margin-right: 10px;
//         }
//         span {
//           width: 26px;
//           height: 26px;
//           text-align: center;
//           line-height: 26px;
//           font-size: 14px;
//           display: inline-block;
//           color: #fff;
//           background-color: #242424;
//           margin: 0 5px;
//           border-radius: 4px;
//           transition: 0.5s;

//           &:hover {
//             background-color: #e93337;
//           }
//         }
//       }
//       .color {
//         span {
//           width: 20px;
//           height: 20px;
//           border-radius: 50%;
//           background-color: #ff0;
//           color: #242424;
//           margin: 0 5px;
//         }
//         span:nth-child(2) {
//           background-color: #9bdc28;
//         }
//         span:nth-child(3) {
//           background-color: #e93337;
//         }
//         span:nth-child(4) {
//           background-color: #03a9f4;
//         }
//       }

//       button {
//         display: inline-block;
//         padding: 10px 20px;
//         background-color: #242424;
//         color: #fff;
//         border-radius: 4px;
//         margin-top: 10px;
//         cursor: pointer;
//         font-weight: 600;
//         opacity: 0;
//         transform: translateX(50px);
//         transition: 0.5s;
//       }
//     }
//   }
// }
